([:Left 1395] [:Right 1293] [:Down 1264] [:Up 839] [:BackSpace 651] [:Control_L 471] [:Shift_R 443] [:e 431] [:space 326] [:Return 304] [:a 281] [:s 266] [:t 262] [:o 247] [:z 243] [:c 239] [:l 229] [:Shift_L 225] [:i 223] [:Tab 221] [:n 206] [:Super_L 170] [:d 164] [:r 162] [:m 149] [:v 146] [:f 145] [:period 138] [:Delete 138] [:u 110] [:p 102] [:Escape 83] [:9 76] [:g 74] [:End 66] [:bracketleft 62] [:Home 62] [:apostrophe 58] [:equal 55] [:b 52] [:comma 50] [:KP_Enter 49] [:h 47] [:j 46] [:semicolon 45] [:4 43] [:slash 42] [:y 42] [:0 26] [:bracketright 25] [:k 24] [:grave 21] [:2 18] [:w 17] [:x 15] [:minus 15] [:q 15] [:3 13] [:Alt_L 13] [:1 9] [:8 8] [:7 7] [:5 6] [:backslash 4] [:6 3] [:KP_Delete 1] [:KP_End 1] [:KP_Insert 1])