([:Right 3856]
 [:Left 3398]
 [:Down 2004]
 [:Up 1358]
 [:space 962]
 [:BackSpace 858]
 [:Shift 848]
 [:Control 751]
 [:e 692]
 [:Return 571]
 [:s 462]
 [:r 394]
 [:t 392]
 [:o 310]
 [:a 298]
 [:9 272]
 [:n 252]
 [:d 244]
 [:i 240]
 [:Escape 240]
 [:Alt 212]
 [:p 204]
 [:c 204]
 [:l 186]
 [:minus 146]
 [:h 130]
 [:v 122]
 [:y 118]
 [:k 108]
 [:0 108]
 [:m 104]
 [:f 98]
 [:semicolon 94]
 [:Tab 88]
 [:u 86]
 [:End 84]
 [:period 72]
 [:z 68]
 [:bracketleft 58]
 [:comma 52]
 [:Home 52]
 [:Super 50]
 [:3 46]
 [:j 46]
 [:g 46]
 [:w 46]
 [:1 44]
 [:5 42]
 [:slash 42]
 [:b 40])

([(:Shift :9) 129]
 [(:Control :Shift :Right) 88]
 [(:Control :Shift :Left) 86]
 [(:r :e) 68]
 [(:Control :Return) 60]
 [(:s :e) 44]
 [(:Alt :Return) 39]
 [(:r :d) 36]
 [(:Control :Right) 34]
 [(:e :s) 32]
 [(:e :y) 31]
 [(:Control :Left) 30]
 [(:t :space) 29]
 [(:i :n) 29]
 [(:Shift :semicolon) 28]
 [(:Control :Alt :Right) 26]
 [(:h :o) 26]
 [(:Shift :Tab) 26]
 [(:e :space) 25]
 [(:Alt :Down) 24]
 [(:s :space) 24]
 [(:t :a) 23]
 [(:Down :Left) 23]
 [(:Control :z) 22]
 [(:Shift :period) 22])