([:Right 3358]
 [:BackSpace 1990]
 [:space 1988]
 [:Left 1328]
 [:e 1024]
 [:Down 902]
 [:t 826]
 [:o 760]
 [:Up 748]
 [:a 660]
 [:i 624]
 [:s 624]
 [:r 558]
 [:n 548]
 [:h 382]
 [:Shift 366]
 [:l 312]
 [:u 300]
 [:d 300]
 [:c 256]
 [:y 248]
 [:m 236]
 [:g 212]
 [:f 202]
 [:p 178]
 [:b 170]
 [:Control 167]
 [:w 152]
 [:k 112]
 [:Return 103]
 [:comma 98]
 [:period 92]
 [:v 72]
 [:bracketleft 46]
 [:Prior 30]
 [:x 26]
 [:j 26]
 [:End 20]
 [:bracketright 18]
 [:9 16]
 [:0 16]
 [:Tab 16]
 [:backslash 14]
 [:Home 14]
 [:Escape 12]
 [:Super 12]
 [:minus 12]
 [:3 10]
 [:equal 10]
 [:5 10])

([(:e :space) 110]
 [(:Control :Left) 95]
 [(:t :space) 88]
 [(:Control :Right) 85]
 [(:s :space) 83]
 [(:i :n) 64]
 [(:d :space) 63]
 [(:Control :Shift :Right) 54]
 [(:o :u) 53]
 [(:t :h) 52]
 [(:y :space) 50]
 [(:e :r) 49]
 [(:r :space) 47]
 [(:a :r) 42]
 [(:t :h :e) 40]
 [(:r :e) 40]
 [(:Control :Shift :Left) 39]
 [(:s :e) 35]
 [(:n :space) 34]
 [(:o :n) 32]
 [(:s :t) 30]
 [(:e :y) 30]
 [(:a :space) 29]
 [(:comma :space) 23]
 [(:Shift :i) 23])