([:Left 2790]
 [:Right 2586]
 [:Down 2528]
 [:Up 1678]
 [:Shift 1336]
 [:BackSpace 1302]
 [:Control 941]
 [:e 862]
 [:space 652]
 [:Return 609]
 [:a 562]
 [:s 532]
 [:t 524]
 [:o 494]
 [:z 486]
 [:c 478]
 [:l 458]
 [:i 446]
 [:Tab 442]
 [:n 412]
 [:Super 340]
 [:d 328]
 [:r 324]
 [:m 298]
 [:v 292]
 [:f 290]
 [:period 276]
 [:Delete 276]
 [:u 220]
 [:p 204]
 [:Escape 166]
 [:9 152]
 [:g 148]
 [:End 132]
 [:bracketleft 124]
 [:Home 124]
 [:apostrophe 116]
 [:equal 110]
 [:b 104]
 [:comma 100]
 [:KP_Enter 98]
 [:h 94]
 [:j 92]
 [:semicolon 90]
 [:4 86]
 [:slash 84]
 [:y 84]
 [:0 52]
 [:bracketright 50]
 [:k 48])

([(:Control :z) 235]
 [(:Shift :Up) 170]
 [(:Control :Shift :Right) 121]
 [(:Control :Shift :Left) 115]
 [(:Shift :Down) 104]
 [(:Control :Left) 72]
 [(:Control :v) 70]
 [(:Control :Super :Down) 70]
 [(:Control :c) 70]
 [(:Control :Super :Up) 69]
 [(:Shift :9) 65]
 [(:o :n) 59]
 [(:Control :s) 57]
 [(:Shift :Left) 57]
 [(:t :space) 44]
 [(:Shift :apostrophe) 42]
 [(:Shift :Right) 40]
 [(:Super :m) 39]
 [(:Shift :4) 38]
 [(:t :e) 35]
 [(:Shift :Tab) 34]
 [(:Control :Right) 34]
 [(:Shift :bracketleft) 30]
 [(:a :t) 30]
 [(:Shift :period) 28])